<template>
  <div id="app">
    <div>
      <modal-example></modal-example>
    </div>
    <div>
      <drawer-example></drawer-example>
    </div>
    <div>
      <switch-example></switch-example>
    </div>
    <div>
      <progress-example></progress-example>
    </div>
    <div>
      <select-example></select-example>
    </div>
    <div>
      <slider-example></slider-example>
    </div>

  </div>
</template>
<script>
  import ModalExample from './components/ModalExample.vue';
  import DrawerExample from './components/DrawerExample.vue';
  import ProgressExample from './components/ProgressExample.vue';
  import SwitchExample from './components/SwitchExample.vue';
  import SelectExample from './components/SelectExample.vue';
  import SliderExample from './components/SliderExample.vue';

  export default {
    name: 'app',
    data () {
      return {
      }
    },
    components: {
      ModalExample,
      DrawerExample,
      ProgressExample,
      SwitchExample,
      SelectExample,
      SliderExample,
    }
  };
</script>
<style scoped>
  /* Add scoped styles */
  #app {
    padding: 20px;
  }
</style>
